.building {
    background-color: aquamarine;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.window-row {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.window {
    width: 150px;
    height: 150px;
    border: 1px solid orange;
}

.door-row {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.door {
    width: 80px;
    height: 150px;
    border: 1px solid black;;
    display: flex;
    align-items: center;
    padding-left: 5px;

}

.door-knob {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
}

.button-land {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 12px;
}

button {
    width: 100px;
    height: 100px;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.mini-box {
    border: 1px solid black;
    width: 100px;
    height: 100px;;
    padding: 12px;
}

.img-box {
    height: 50%;
}

.twitter-img {
    width: 25%;
}

.subtitle {
    color: rgba(6, 4, 4, 0.45);
}